.counter {
            display: inline-flex;
            align-items: center;
            gap: 5px;
        }

        .result {
            width: 50px;
            height: 28px;
            text-align: center;
            font-size: 16px;
            border: 1px solid #9c9393;
            border-radius: 4px;
        }

        button {
            width: 30px;
            height: 30px;
            font-size: 18px;
            cursor: pointer;
        }