.counter {
            display: inline-flex;
            align-items: center;
            gap: 5px;
        }

        input {
            width: 60px;
            text-align: center;
            font-size: 16px;
        }

        button {
            width: 30px;
            height: 30px;
            font-size: 18px;
            cursor: pointer;
        }