.calculator {
  width: 280px;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.calculator input {
  width: 95%;
  padding: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
    margin-left: 25px;
}

.op-btn:hover {
  background-color: #5b5e5b;
}

.op-btn:active {
  transform: scale(0.95);
}

.result {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.result span {
  color: #4CAF50;
}
