.login-box {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px #ccc;
}

input {
  width:90%;
  padding: 8px;
  margin-bottom: 10px;
}

.input-valid {
  border: 2px solid green;
}

.input-invalid {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
}

.btn-loading {
  background-color: gray;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
